<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet-name>ConfirmBooking</servlet-name>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>control.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>control.auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>control.verifyOTP.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginViaGoogle</servlet-name>
        <servlet-class>googleHandle.LoginViaGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendVerifyOTP</servlet-name>
        <servlet-class>emailService.ResendVerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>control.profile.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAvailable</servlet-name>
        <servlet-class>control.rooms.RoomAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>control.booking.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBooking</servlet-name>
        <servlet-class>control.booking.ConfirmBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistory</servlet-name>
        <servlet-class>control.booking.BookingHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingDetails</servlet-name>
        <servlet-class>BookingDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>control.service.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAddMoreService</servlet-name>
        <servlet-class>control.service.ConfirmAddMoreService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VillaDetails</servlet-name>
        <servlet-class>control.villa.VillaDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveFeedback</servlet-name>
        <servlet-class>control.feedback.LeaveFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedback</servlet-name>
        <servlet-class>control.feedback.EditFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>control.auth.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccount</servlet-name>
        <servlet-class>control.account.ListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetails</servlet-name>
        <servlet-class>control.account.AccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRole</servlet-name>
        <servlet-class>control.account.UpdateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanAccount</servlet-name>
        <servlet-class>control.account.BanAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVilla</servlet-name>
        <servlet-class>control.villa.ListVilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewVilla</servlet-name>
        <servlet-class>control.villa.AddNewVilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVilla</servlet-name>
        <servlet-class>control.villa.EditVilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>control.booking.CancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishList</servlet-name>
        <servlet-class>control.wishlist.AddToWishList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDeposit</servlet-name>
        <servlet-class>control.payment.ConfirmDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingManagement</servlet-name>
        <servlet-class>control.booking.BookingManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInBooking</servlet-name>
        <servlet-class>control.booking.CheckInBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutBooking</servlet-name>
        <servlet-class>control.booking.CheckOutBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>control.payment.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPayment</servlet-name>
        <servlet-class>control.payment.ConfirmPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginViaGoogle</servlet-name>
        <url-pattern>/LoginViaGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendVerifyOTP</servlet-name>
        <url-pattern>/ResendVerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAvailable</servlet-name>
        <url-pattern>/RoomAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBooking</servlet-name>
        <url-pattern>/ConfirmBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistory</servlet-name>
        <url-pattern>/BookingHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingDetails</servlet-name>
        <url-pattern>/BookingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAddMoreService</servlet-name>
        <url-pattern>/ConfirmAddMoreService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VillaDetails</servlet-name>
        <url-pattern>/VillaDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveFeedback</servlet-name>
        <url-pattern>/LeaveFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedback</servlet-name>
        <url-pattern>/EditFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccount</servlet-name>
        <url-pattern>/ListAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetails</servlet-name>
        <url-pattern>/AccountDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRole</servlet-name>
        <url-pattern>/UpdateRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanAccount</servlet-name>
        <url-pattern>/BanAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVilla</servlet-name>
        <url-pattern>/ListVilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewVilla</servlet-name>
        <url-pattern>/AddNewVilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVilla</servlet-name>
        <url-pattern>/EditVilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishList</servlet-name>
        <url-pattern>/AddToWishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDeposit</servlet-name>
        <url-pattern>/ConfirmDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingManagement</servlet-name>
        <url-pattern>/BookingManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInBooking</servlet-name>
        <url-pattern>/CheckInBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutBooking</servlet-name>
        <url-pattern>/CheckOutBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPayment</servlet-name>
        <url-pattern>/ConfirmPayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <filter-mapping>
            <filter-name>CharacterEncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
    </filter>
</web-app>
